<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Smart Remote Control</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
              padding-top: 50px;
              padding-bottom: 20px;
            }
        </style>

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 
      <div class="container">
        <div class="jumbotron">
          <h1>Smart Remote Control</h1>
        </div>
        <p>
          <div class="row">
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary btn-block btn-lg" onclick="speak();" >Speak</button>
            </div>
            <div class="col-sm-8">
              <h3 id="speech-status"></h3>
            </div>
          </div>
        </p>
        <div class="row">
          {% for activity in activities %}
          <div class="col-sm-2">
            <button type="button" class="btn btn-default btn-block btn-lg" onclick="sendActivity({{ loop.index - 1 }});">{{ activity.name }}</button>
          </div>
          {% endfor %}
        </div>
      </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script>
      var activityList = [
      {% for activity in activities %}
        { name: '{{ activity.name }}', index: {{ loop.index - 1 }} } {{ ',' if not loop.last }}
      {% endfor %}
      ];

      function sendActivity(index) {
        $.ajax({
          url: '/activity/' + index,
          method: 'POST'
        });
      }

      function speak() {
        $('#speech-status').text('Speak activity name...');
        // Run speech recognition. 
        var recognition = new webkitSpeechRecognition();
        recognition.onresult = function(event) {
          // When a result is available, first grab the transcript.
          var result = '';
          for (var i = event.resultIndex; i < event.results.length; ++i) {
            result += event.results[i][0].transcript;
          }
          // Check if transcript matches an activity name.
          for (var i = 0; i < activityList.length; ++i) {
            var item = activityList[i];
            if (item.name.toLowerCase() == result.toLowerCase()) {
              // Found a match!
              $('#speech-status').text('Running activity: ' + item.name);
              sendActivity(item.index);
              return;
            }
          }
          // Couldn't find a match, so display what was heard.
          $('#speech-status').text('Heard: ' + result);
        }
        recognition.onerror = function(event) {
          $('#speech-status').text('Error recognizing speech!');
        }
        recognition.start();
      }
      </script>
    </body>
</html>